


.main{
    background: url("../img/rohan-aggarwal-EShGwCZs3Nc-unsplash.jpg");
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-size: cover;
	min-height: 100%;
	margin: 0;
	background-blend-mode: multiply;
    
}

.header{
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 7%;
    padding: -25px;
    background-color:#7f8fa6;
    color: white;
    text-align:left;
    font-family:Impact, Charcoal, sans-serif;
    font-size: 30px
    
}



.footer{
    position: fixed;
    padding: 10px;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 10%;
    background-color:#7f8fa6;
    color: white;
    text-align:center;

}


.checkboxes{
    position:fixed;
    padding: 25px;
    border-radius: 25px;
    border: 2px black;
    background-color:rgb(238, 82, 83,0.7);
    left: 750px;
    top: 125px;
    font-weight: bolder;
}



.textfield{
    position:fixed;
    width: 9%;
    padding: 17px;
    border-radius: 25px;
    border: 2px black;
    background-color: #ee5253;
    
    left: 975px;
    top: 200px;
    font-weight: bolder;
}

.slider {
  -webkit-appearance: none;
  position:fixed; 
  left:990px; 
  top:400px;
  width: 10%;
  height: 25px;
  background: white;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

.slider:hover {
  opacity: 1;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  background: #ee5253;
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  background: #ee5253;
  cursor: pointer;
}




a{
    line-height:4;
    color:black;
    font-weight: bolder;
    text-decoration: none;
    margin-left:40px;
    position: relative;
    top:700px;
    left:670px;
    size: 100px 100px;
}
a:hover {
color:white;
cursor:pointer;
}

a.active{
    color:lime;
}
a.generate{
    border-radius: 45px;
    background:#ee5253;
    padding:40px;
    position:relative;
    top:717px;
    left:830px;
}


