body{
    font-size: 14px;
    background-color: #f5f6fa;
    letter-spacing: 1px;
    height: 100%;
    width: 100%;
    background: url("../img/pullup.jpg");
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-size: cover;
	margin: 0;
    background-blend-mode: multiply;
    z-index: 1;
}

.checkboxes{
    position: absolute;
    padding: 15px 20px;
    margin: 100px 0 0 35%;
    border-radius: 25px;
    display: inline-block;
    background-color:rgba(149, 165, 166,0.5);
    font-weight: bolder;
    color:white;
    text-align: start;
    z-index: 6;
}

.overlay{
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 3;
    background-color: rgba(0, 0, 0,0.4);
}

.textfield{
    position: absolute;
    padding: 15px;
    margin: 150px 0 0 55%;
    color: #f5f6fa;
    border-radius: 25px;
    border: 2px black;
    background-color:rgba(149, 165, 166,0.5);
    font-weight: bolder;
    z-index: 6;
}

.fname{
    width: 100%;
}
.child{
    margin: 0 0 0 20px;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    background: rgb(127, 140, 141);
    cursor: pointer;
    z-index: 6;

}
  
.slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    background: rgb(127, 140, 141);
    cursor: pointer;
    z-index: 6;

}

.slider {
    -webkit-appearance: none;
    position: absolute;
    margin: 450px 0 0 calc(55% + 10px);
    width: 10%;
    height: 25px;
    background: white;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
    z-index: 10;
}

a.generate{
    border-radius: 45px;
    background:rgb(127, 140, 141);
    padding:40px;
    position:relative;
    margin: 700px 0 0 45%;
    z-index: 10;
}
