/*list section*/
.content {
	max-width: 540px;
	height:100%;
	margin: auto;
	text-align: center;
	font-size: 37px;
	font-family: Georgia, serif;
	z-index: 3;
}

h1{
	color: aliceblue;
}

ol{	 
	position: absolute;
	left:50%;
	top: 1150px;
	transform: translate(-50%, -700px);
	width:700px;
	display: inline-block;
	margin: 0;
	padding: 0;
	zoom:1;
	*display: inline;
	z-index: 3;
}

/*items in list*/
li {
    width:700px;
	height:40px;
	color: white;
	position: relative;
	margin: 10;
	text-align: center;
	font-family: 'Lucida Sans Unicode';
	font-size: 28px;
	font-weight: bold;
	z-index: 3;
}

/*Button*/
a{
	line-height:4;
	color:black;
	font-weight: bolder;
	text-decoration: none;
	position: absolute;
    border-radius: 25px;
	width:100px;
	height:60px;
	background:rgba(189, 195, 199,1.0);
	padding:20px;
	position: relative;
	top:20%;
	z-index: 3;
	cursor: pointer;
}

a:hover {
	color:rgba(189, 195, 199,1.0);
	background: black;
}

/*background*/
html{
	background: url("../img/Pushup+Background.jpg") rgba(52, 73, 94,0.4);
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-size: cover;
	min-height: 100%;
	margin: 0;
	background-blend-mode: multiply;	
}
  

