body{
    font-size: 14px;
    color: #333;
    background-color: #f5f6fa;
    letter-spacing: 1px;
}

.overlay{
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 3;
    background-color: rgba(0,0, 0, 0.45);
}

.titleMessage .heading .main{
    font-size: 70px;
    font-weight: bold;
}


.titleMessage{
    position: absolute;
    width: 100%;
    height: 200px;
    top: 50%;
    z-index: 5;
    text-align: center;
    margin-top: -100px;
}

.titleMessage .heading p{
    color: #fff;
    text-shadow: 0px 2px 5px rgba(0,0, 0, 0.4);
    font-weight: 100;
    letter-spacing: 8px;
}


.slides-navigation{
    z-index: 6;
}

.slides-navigation a.prev,
.slides-navigation a.next{
    width: 48px;
    height: 48px;
    backgorund-size: cover;
    background-repeat: no-repeat;
}

.slides-navigation a.prev{
    left: 30px;
    background-image: url(../img/icons/backarrow.png);
}
.slides-navigation a.next{
    right: 30px;
    background-image: url(../img/icons/nextarrow.png);
}


.startButton{
    color: #fff;
    text-shadow: 0px 2px 5px rgba(0,0, 0, 0.4);
    font-weight: 100;
    font-size: 30px;
    font-weight: bold;
    padding: 15px 20px;
    display: inline-block;
    border : 2px solid #d35400;
    border-radius: 3px;
    z-index: 6;
}

.startButton:hover{
    text-decoration: none;
    color: #f5f6fa;
    background-color: #d35400;
}