.item1 { grid-area: image; }
.item2 { grid-area: name; }
.item3 { grid-area: time; }
.item4 { grid-area: upcoming; }
.item5 {grid-area: alternate;}


.grid-container {
  
  display: grid;
  grid-template-areas:
    'image image time time time upcoming'
    'image image time time time upcoming'
    'image image name name alternate alternate';
    grid-template-rows: 230px 175px 160px;
  grid-gap: 10px;
  background-color: #2c3e50;
  padding: 10px;
  margin-top: 1%;
}

.grid-container > div {
  background-color: #ecf0f1;
  text-align: center;
  padding: 20px 0;
  font-size: 30px;
}
img#exerciseDisplay{
    position: relative;
    margin:auto;
    width: 600px;
    height:450px;
    padding: 1px;
    border: 10px black;

}
html{
	
	background: url("https://img.freepik.com/free-vector/background-white-elegant-texture_23-2148438404.jpg?size=626&ext=jpg") rgba(52, 73, 94,0.4);
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-size: cover;
  min-height: 100%;
  width:100%;
	margin: 0;
	background-blend-mode: multiply;
		
  }

.button{
    width:58%;
    position: absolute;
    margin-left:40%;
  }

a{
  
		margin: auto;
    line-height:6;
    color:white;
    font-weight: bolder;
    text-decoration: none;
    position:absolute;
    
    
    border-radius: 25px;
    width:200px;
    height:120px;
    background:rgba(189, 195, 199,1.0);
    padding:30px 50px;
    position: relative;
    top:20%;
    z-index: 3;
    cursor: pointer;
    
    
  }
  
  a:hover {
  color:rgba(189, 195, 199,1.0);
  background: black;
  }
  
  a.active{
    color:lime;
  }
  div#spotify{
    width:99%;
    position: absolute;
  }
  .spotifyIframe{
    position:relative; 
    margin-top:2%;
    margin-left:80%;
  }
